<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings> 
        <add name="OracleDataAccess" connectionString="Data Source=vm06;Persist Security Info=True;User ID=BKONLINESYS;password=BKONLINESYS;" providerName="System.Data.OracleClient" />
      <add name="SqlServerDataAccess" connectionString="Data Source='127.0.0.1';Initial Catalog=cnita;User ID=sa;Password=u.7PRw_e*SuAR3cQOBW_V5_IC" providerName="System.Data.SqlClient" />
      <add name="SqlServerDataAccess_SoaTest" connectionString="Data Source='127.0.0.1';Initial Catalog=SoaTest;User ID=sa;Password=u.7PRw_e*SuAR3cQOBW_V5_IC" providerName="System.Data.SqlClient" />
        <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="DataAccess" value="SqlServerDataAccess" /> 
    </appSettings>
</configuration>